#wrapper {
    position: absolute;
    width: 95%;
    left: 2.5%;
    min-height: 100%;
}
#profile {
    position: absolute;
    top: 0;
    right: 0;
}
#navBar {
    color: white;
    width: 1000px;
    background-color: #1A5CC8;
    margin: 0 auto;
    border-collapse: collapse;
}
#navBar td{
    text-align: center;
    font-size: 17px;
    width: 133px;
    overflow: scroll;
    border: 1px solid white;
    padding: 4px 7px 4px 7px;
}
#navBar td a {
    color: white;
}
#navBar td a:hover {
    color: red;
}
#hello {
    position: relative;
    top: 33px;
    text-align: center;
    font-size: 19px;
}
#register {
    width: 333px;
    height: 200px;
    margin: 0 auto;
    background-color: #F0FFFF;
}
#login {
    width: 333px;
    height: 100px;
    margin: 0 auto;
    background-color: #F0FFFF;
}
#admin {
    text-decoration: none;
    color: red;
    font-weight: bold;
}
#title {
    text-align: center;
    color: blue;
    font-size: 29px;
}
#left {
    /*background-color: #F0FFFF;*/
    width: 99px;
    line-height: 29px;
    font-weight: bold;
}
#left a {
    /*color: white;*/
}
#left a:hover {
    color: red;
}
#right {

}
#right a {
    color: white;
}
#right a:hover {
    color: red;
}
.red {
    color: red;
}
a {
    text-decoration: none;
}
a:link {
    color: blue;
}
a:visited {
    color: blue;
}
a:hover {
    color: red;
}