#wrapper {
    position: absolute;
    width: 95%;
    left: 2.5%;
    min-height: 100%;
}
#profile {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
}
#navBar {
    width: 1000px;
    background-color: #6589d1;
    margin: 0 auto;
    border-collapse: collapse;
}
#navBar td {
    text-align: center;
    font-size: 17px;
    width: 133px;
    overflow: scroll;
    border: 1px solid white;
    padding: 4px 7px 4px 7px;
}
#hello {
    position: relative;
    top: 33px;
    text-align: center;
    font-size: 19px;
}
#register {
    width: 333px;
    height: 200px;
    margin: 0 auto;
    background-color: #F0FFFF;
}
.title {
    text-align: center;
    color: blue;
    font-size: 29px;
}
.red {
    color: red;
}
a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
a:hover { 
    color: orange;
}
a:active { 
    text-decoration:blink;
}
