{% extends "base.html" %}
{% block content %}
<title> Comment </title>
<table class="reply">
    <tr><td colspan="2"><h2><a href={{ url_for('show_problem', pid = pid) }}> Problem {{ pid }} </a>-- {{ title }} </h2></td></tr>
    {% if pn == 1 %}
        <tr>
            <td class="userinfo">
                <a href={{ url_for('userinfo', userid = comment.userid) }}> {{ comment.userid }} </a><br />
                ({{ comment.nickname }})
            </td>
            <td class="content">
                {{ comment.content }}
                <div class="tip">
                    {% if g.user.is_authenticated() and g.user.userid == comment.userid %}
                        [<a href={{ url_for('deletepost', tid = comment.tid) }}> Delete </a>]
                    {% endif %}
                    {{ comment.post_time }}
                </div>
            </td>
        </tr>
    {% endif %}
    {% for reply in reply_list.items %}
        <tr>
            <td class="userinfo">
                <a href={{ url_for('userinfo', userid = reply.userid) }}> {{ reply.userid }} </a><br />
                ({{ reply.nickname }})
            </td>
            <td class="content">
                {{ reply.content }}
                <div class="tip">
                    {% if g.user.is_authenticated() and g.user.userid == comment.userid %}
                        [<a href={{ url_for('deletepost', rid = reply.rid) }}> Delete </a>]
                    {% endif %}
                    {{ reply.post_time }}
                </div>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="2">
            <div class="center">
                {% for i in reply_list.iter_pages() %}
                    {% if pn == i %}
                        <span class="red"> {{ i }} </span>
                    {% else %}
                        <a href={{ url_for('comment', pid = pid, tid = tid, pn = i) }}> {{ i }} </a>
                    {% endif %}
                {% endfor %}    
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="bold"> Content </td>
    </tr>
    <tr>
        <td></td>
        <td>
            {% if g.user.is_authenticated() %}
                <form action={{ url_for('comment', tid = tid )}} method="POST">
                    {{ form.content(id="thread", rows = 10, cols = 77) }}<br />
                    <input type="submit" value="Reply">
                </form>
            {% endif %}
        </td>
    </tr>
</table>
{% endblock %}