{% extends "base.html" %}
{% block content %}
<title> Problem Set</title>
<div class="center">
{% for i in problem_list.iter_pages() %}
    {% if pn == i %}
        <span class="red"> {{ i }} </span>
    {% else %}
        <a href={{ url_for('problemset', pn = i) }}> {{ i }} </a>
    {% endif %}
{% endfor %}
</div>
<form action="/problemset" method="GET">
    <table class="center">
        <tr>
            <td> Problem ID : {{ form.pid(size=7) }} </td>
            <td><button type="submit"> Go </button></td>
        </tr>
    </table>
</form>
<table id="list">
    <tr>
        <th id="ps_is_ac"></th>
        <th id="ps_pid"> Problem ID </th>
        <th id="ps_title"> Title </th>
        <th id="ps_ac"> AC </th>
        <th id="ps_submit"> Submit </th>
    </tr>
    {% for problem in problem_list.items %}
        <tr style="{{ loop.cycle('', 'background-color:#D7EBFF') }}">
            <td></td>
            <td> {{ problem.pid }} </td>
            <td align="left"><a href={{ url_for('show_problem', pid = problem.pid) }}> {{ problem.title }} </a></td>
            <td> {{ problem.ac_count }} </td>
            <td> {{ problem.submit_count }} </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
