{% extends "base.html" %}
{% block content %}
<title> Ranklist </title>
<table id="list">
    <tr>
        <th id="ps_is_ac"> No. </th>
        <th id="ps_pid"> User ID </th>
        <th id="ps_title" style="text-align:center"> NickName </th>
        <th style="width:130px"> Problems Solved </th>
        <th style="width:115px"> Submissions </th>
    </tr>
    {% for user in user_list.items %}
        <tr style="{{ loop.cycle('', 'background-color:#D7EBFF') }}">
            <td> {{ MAX_USER_NUM_ONE_PAGE * (pn - 1) + user_list.items.index(user) + 1 }} </td>
            <td><a href={{ url_for('userinfo', userid = user.userid) }}> {{ user.userid }} </a></td>
            <td> {{ user.nickname }} </td>
            <td> {{ user.ac_count }} </td>
            <td> {{ user.submit_count }} </td>
        </tr>
    {% endfor %}
</table>
<div class="center">
    {% for i in user_list.iter_pages() %}
        <a href={{ url_for('ranklist', pn = i) }}>
            {{ (i - 1) * MAX_USER_NUM_ONE_PAGE + 1 }}-{{ i * MAX_USER_NUM_ONE_PAGE }}
        </a>
    {% endfor %}
</div>
{% endblock %}