{% extends "base.html" %}
{% block content %}
<div>
    <h2><center> Register Information </center></h2>
    {% with message = get_flashed_messages() %}
        {% if message %}
            <center><h3 class="red">
                {{ message[0] }}
            </h3></center>
        {% endif %}
    {% endwith %}
    <form action="/register/" method="POST">
        {{ form.csrf_token }}
        <table id="register">
            <tr><td> User ID: </td><td> {{ form.userid(id="") }} * </td></tr>
            <tr><td> Nick Name: </td><td> {{ form.nickname(id="") }} * </tr>
            <tr><td> PassWord: </td><td> {{ form.password(id="") }} * </td></tr>
            <tr><td> Repeat PassWord: </td><td> {{ form.rptpassword(id="") }} * </td></tr>
            <tr>
                <td></td>
                <td>
                    <input value="Submit" type="submit">
                    <input value="Reset" type="reset">
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}