{% extends "base.html" %}
{% block content %}
<div>
    <form action="/register/" method="POST">
        {{ form.csrf_token }}
        <center><h2> Register Information </h2></center>
        {% if error %}
            <center><h3 class="red">
                {{ error }}
            </h3></center>
        {% endif %}
        <table id="register">
            <tr><td> User ID: </td><td> {{form.userID(size=20)}} * </td></tr>
            <tr><td> Nick Name: </td><td> {{form.nickName(size=20)}} * </td></tr>
            <tr><td> PassWord: </td><td> {{form.password(size=20)}} * </td></tr>
            <tr><td> Repeat PassWord: </td><td> {{form.rptpassword(size=20)}} * </td></tr>
            <tr>
                <td></td>
                <td>
                    <input value="Submit" name="submit" type="submit">
                    <input value="Reset" name="reset" type="reset">
                </td>
            </tr>
        </table>
        </form>
</div>
{% endblock %}