{% extends "base.html" %}
{% block content %}
<div id="problem">
    <title> {{ problem.title }} </title>
    <h2 class="center blue"> {{ problem.title }} </h2>
    <table>
        <tr>
            <td><b> Time Limit: </b> {{ problem.time_limit }} MS </td>
            <td width="10px"></td>
            <td><b> Memory Limit: </b> {{ problem.memory_limit }} K </td>
        </tr>
        <tr>
            <td><b> Total Submissions: </b> {{ problem.submit_count }} </td>
            <td width="10px"></td>
            <td><b> Accepted: </b> {{ problem.ac_count }} </td>
        </tr>
    </table>
    <h3> Description </h3>
    <div>
        {% autoescape false %}
            {{ problem.desc.replace('\n', '<br />') }}
        {% endautoescape %}
    </div>
    <h3> Input </h3>
    <div>
        {% autoescape false %}
            {{ problem.pinput.replace('\n', '<br />') }}
        {% endautoescape %}
    </div>
    <h3> Output </h3>
    <div>
        {% autoescape false %}
            {{ problem.poutput.replace('\n', '<br />') }}
        {% endautoescape %}
    </div>
    <h3> Sample Input </h3>
    <div>
        {% autoescape false %}
            {{ problem.sinput.replace('\n', '<br />') }}
        {% endautoescape %}
    </div>
    <h3> Sample Output </h3>
    <div>
        {% autoescape false %}
            {{ problem.soutput.replace('\n', '<br />') }}
        {% endautoescape %}
    </div>
    <h3> Hint </h3>
    <div>
        {% autoescape false %}
            {{ problem.hint.replace('\n', '<br />') }}
        {% endautoescape %}
    </div>
</div>
<div class="center">
    [<a href={{ url_for('submit_problem', pid = problem.pid) }}>Submit</a>]
    Status
    Discuss
</div>
{% endblock %}