{% extends "base.html" %}
{% block content %}
<title> Problem Status List </title>
<h4 class="center blue"> Problem Status List </h4>
<table id="list">
    <tr>
        <th> RunID</th>
        <th> User </th>
        <th> Problem </th>
        <th> Result </th>
        <th> Memory </th>
        <th> Time </th>
        <th> Language </th>
        <th> Code Length </th>
        <th> Submit Time </th>
    </tr>
    {% for submit in submit_list %}
        <tr style="{{ loop.cycle('', 'background-color:#D7EBFF') }}">
            <td> {{ submit.runid }} </td>
            <td> {{ submit.userid }} </td>
            <td> {{ submit.pid }} </td>
            {% if submit.result == 'Accepted' %}
                {% set status = "blue" %}
            {% elif submit.result == 'Pending' or submit.result == 'Compile Error' or submit.result == 'Runing' %}
                {% set status = "green" %}
            {% else %}
                {% set status = "red" %}
            {% endif %}
            <td class={{ status }}> {{ submit.result }}</td>
            {% if submit.result == 'Accepted' %}
                <td> {{ submit.memory_used }}K </td>
                <td> {{ submit.time_used }}MS </td>
            {% else %}
                <td></td>
                <td></td>
            {% endif %}
            <td><a href={{ url_for('viewcode', runid = submit.runid )}}> {{ submit.language }} </a></td>
            <td> {{ submit.length }} </td>
            <td> {{ submit.submit_time }} </td>
        </tr>
    {% endfor %}
</table>
<div class="center">
    [<a href="/status/"> First Page </a>]
    [<a href={{ url_for('status', last = submit_list[0].runid + 1) }}> Previous Page </a>]
    [<a href={{ url_for('status', first = submit_list[-1].runid - 1) }}> Next Page </a>]
</div>
{% endblock %}